# build output
dist/
# dependencies
node_modules/
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# macOS-specific files
.DS_Store
.vscode
.layer0
.edgio
.edgio_temp
# environment variables
.env
/deps.json
test.js
