---

---

<div class="mt-4 w-full flex flex-col items-center">
  <div class="w-[90%] flex flex-row items-center justify-between">
    <a href="/">
      <img loading="lazy" width="2rem" height="2rem" src="https://ik.imagekit.io/vjeqenuhn/itsmy.fyi/logo.png" class="h-8 w-8" />
    </a>
    <div class="flex flex-row items-center gap-x-4">
      <a class="hover:underline text-sm text-gray-600" href="/changelog"> Changelog</a>
    </div>
  </div>
</div>
