---
import SEO from '../components/SEO.astro'

const seo = {
  title: 'itsmy.fyi - Take control of your online presence',
  description: 'Take control of your online presence with itsmy.fyi - the true open-source alternative to Linktree',
  url: Astro.request.url.replace('http:', 'https:'),
  image: Astro.url.origin.replace('http:', 'https:') + '/seo/social-media-card.png',
  icon: Astro.url.origin.replace('http:', 'https:') + '/seo/icon.png',
}
---

<html>
  <head>
    <SEO {...seo} />
    <style>
      @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: url(/fonts/rsms-inter-var.woff2) format('woff2');
      }
    </style>
  </head>
  <body>
    <div class="relative py-24 sm:py-48 w-full flex flex-col items-center">
      <div class="z-[-1] absolute top-0 left-0 w-full h-full bg-black opacity-75"></div>
      <a
        href="/launch"
        target="_blank"
        rel="noreferrer"
        class="mx-auto flex max-w-fit items-center justify-center space-x-2 overflow-hidden rounded-full bg-blue-100 px-7 py-2 transition-all hover:bg-blue-200"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 204" class="h-5 w-5 text-[#1d9bf0]">
          <path
            fill="currentColor"
            d="M221.95 51.29c.15 2.17.15 4.34.15 6.53 0 66.73-50.8 143.69-143.69 143.69v-.04c-27.44.04-54.31-7.82-77.41-22.64 3.99.48 8 .72 12.02.73 22.74.02 44.83-7.61 62.72-21.66-21.61-.41-40.56-14.5-47.18-35.07 7.57 1.46 15.37 1.16 22.8-.87-23.56-4.76-40.51-25.46-40.51-49.5v-.64c7.02 3.91 14.88 6.08 22.92 6.32C11.58 63.31 4.74 33.79 18.14 10.71c25.64 31.55 63.47 50.73 104.08 52.76-4.07-17.54 1.49-35.92 14.61-48.25 20.34-19.12 52.33-18.14 71.45 2.19 11.31-2.23 22.15-6.38 32.07-12.26-3.77 11.69-11.66 21.62-22.2 27.93 10.01-1.18 19.79-3.86 29-7.95-6.78 10.16-15.32 19.01-25.2 26.16z"
          ></path>
        </svg>
        <p class="text-sm font-semibold text-[#1d9bf0]">Introducing itsmy.fyi</p>
      </a>
      <h1
        class="font-extrabold mt-3 sm:mt-5 text-center text-4xl sm:text-6xl text-transparent bg-clip-text bg-gradient-to-br from-sky-100 via-white to-sky-100"
      >
        The Ahuja Lab
      </h1>
      <span class="mt-12 text-center text-xl text-gray-100 leading-relaxed max-w-lg">
        Meet the lab that uses a hybrid approach involving Artificial Intelligence and Molecular Biology</span
      >
      <div class="mt-8 grid grid-cols-1 gap-8 sm:grid-cols-2">
        <a
          href="#meet-the-pi"
          class="bg-black ease-in-out duration-300 border border-[#FFFFFF]/30 shadow-sky-300 rounded-full shadow-2xl hover:scale-105 px-5 pt-2 pb-1 text-center text-[#FFFFFF]/75"
        >
          Meet Our PI &rarr;</a
        >
        <a
          href="#our-interest"
          class="ease-in-out duration-300 bg-white border border-[#FFFFFF]/30 shadow-sky-300 rounded-full shadow-2xl hover:scale-105 px-5 pt-2 pb-1 text-center text-sky-900"
        >
          Our Interest &rarr;</a
        >
      </div>
    </div>
  </body>
</html>
