---
import Demo from '@/components/Home/Demo.astro'
import SEO from '@/components/Shared/SEO.astro'
import Footer from '@/components/Home/Footer.astro'
import Tweets from '@/components/Twitter/Tweets.astro'
import GitHubStars from '@/components/Home/GitHub-Stars.astro'

const seo = {
  title: 'itsmy.fyi - Take control of your online presence',
  description: 'Take control of your online presence with itsmy.fyi - the true open-source alternative to Linktree',
  url: Astro.request.url.replace('http:', 'https:'),
  image: Astro.url.origin.replace('http:', 'https:') + '/seo/social-media-card.png',
  icon: Astro.url.origin.replace('http:', 'https:') + '/seo/logo.png',
}
---

<html lang="en">
  <head>
    <SEO {...seo} />
    <link rel="preload" href="https://user-images.githubusercontent.com/46300090/213339667-d6a6599c-8136-4dd3-9e05-6594636c1d48.mp4" />
    <style is:raw>
      @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: url(/fonts/rsms-inter-var.woff2) format('woff2');
      }
      .style_less_than::before {
        width: 0;
        top: 15px;
        z-index: 0;
        left: -12px;
        content: '';
        display: block;
        position: absolute;
        border-style: solid;
        border-width: 8px 8px 0;
        transform: rotate(90deg);
        border-color: black transparent;
      }
      body {
        background-size: 100px 100px;
        background-image: linear-gradient(#00000010 0.5px, transparent 0.5px), linear-gradient(to right, #00000010 0.5px, white 0.5px);
      }
    </style>
  </head>
  <body>
    <div class="relative mt-24 sm:mt-36 w-full flex flex-col items-center">
      <a
        target="_blank"
        rel="noreferrer"
        href="https://twitter.com/rishi_raj_jain_/status/1616514075688833025"
        class="mx-auto flex max-w-fit items-center justify-center space-x-2 overflow-hidden rounded-full bg-blue-100 px-7 py-2 transition-all hover:bg-blue-200"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 204" class="h-5 w-5 text-[#1d9bf0]">
          <path
            fill="currentColor"
            d="M221.95 51.29c.15 2.17.15 4.34.15 6.53 0 66.73-50.8 143.69-143.69 143.69v-.04c-27.44.04-54.31-7.82-77.41-22.64 3.99.48 8 .72 12.02.73 22.74.02 44.83-7.61 62.72-21.66-21.61-.41-40.56-14.5-47.18-35.07 7.57 1.46 15.37 1.16 22.8-.87-23.56-4.76-40.51-25.46-40.51-49.5v-.64c7.02 3.91 14.88 6.08 22.92 6.32C11.58 63.31 4.74 33.79 18.14 10.71c25.64 31.55 63.47 50.73 104.08 52.76-4.07-17.54 1.49-35.92 14.61-48.25 20.34-19.12 52.33-18.14 71.45 2.19 11.31-2.23 22.15-6.38 32.07-12.26-3.77 11.69-11.66 21.62-22.2 27.93 10.01-1.18 19.79-3.86 29-7.95-6.78 10.16-15.32 19.01-25.2 26.16z"
          ></path>
        </svg>
        <p class="text-sm font-semibold text-[#1d9bf0]">Introducing itsmy.fyi</p>
      </a>
      <h1
        class="font-extrabold mt-8 text-center text-4xl sm:text-6xl text-transparent bg-clip-text bg-gradient-to-br from-blue-500 via-blue-900 to-blue-500 max-w-sm sm:max-w-2xl"
      >
        All for you to share.<br />In one simple link.
      </h1>
      <span class="mt-8 text-center text-xl text-gray-800 leading-relaxed max-w-lg">
        itsmy.fyi is an open-source media creation tool for everything you create, share or sell online. All from a link.
      </span>
      <div class="mt-12 grid grid-cols-1 gap-8 sm:gap-0 sm:grid-cols-2">
        <a
          href="https://github.com/rishi-raj-jain/itsmy.fyi/issues/new?assignees=&labels=&template=itsyour.page-profile-data.yml&title=itsmy.fyi+-+%7BINSERT+NAME%7D+%28Optional%29"
          class="w-full sm:w-max px-5 rounded-full border border-black bg-black py-2 text-center text-sm text-white shadow-lg transition-all hover:bg-white hover:text-black"
        >
          Start For Free
        </a>
        <a
          target="_blank"
          href="https://github.com/rishi-raj-jain/itsmy.fyi"
          class="w-max flex items-center justify-center space-x-2 rounded-full border border-gray-300 bg-white py-2 px-5 shadow-lg transition-all hover:border-gray-800"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24" class="h-5 w-5 text-black">
            <path
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
            ></path>
          </svg>
          <p class="text-sm">Star on GitHub</p>
        </a>
      </div>
    </div>
    <Demo />
    <div class="mt-24 sm:mt-36 w-full flex flex-col items-center">
      <video class="rounded w-[90%]" controls>
        <source src="https://user-images.githubusercontent.com/46300090/213339667-d6a6599c-8136-4dd3-9e05-6594636c1d48.mp4" type="video/mp4" />
      </video>
    </div>
    <Tweets />
    <GitHubStars />
    <Footer />
  </body>
</html>
