---
import SEO from '@/components/Shared/SEO.astro'
import Footer from '@/components/Home/Footer.astro'
import Navbar from '@/components/Shared/Navbar.astro'
import InstantPage from '@/components/Shared/Instant.astro'
import PricingGrid from '@/components/Home/Pricing/index.astro'

const seo = {
  url: 'https://itsmy.fyi/pricing',
  icon: 'https://ik.imagekit.io/vjeqenuhn/itsmy.fyi/logo.png',
  title: 'Pricing - itsmy.fyi - Take control of your online presence',
  image: 'https://ik.imagekit.io/vjeqenuhn/itsmy.fyi/social-media-card.png',
  description: 'Pricing - Take control of your online presence with itsmy.fyi - the true open-source alternative to Linktree',
}
---

<html lang="en">
  <head>
    <SEO {...seo} />
    <style is:raw>
      body {
        background-size: 100px 100px;
        background-image: linear-gradient(#00000010 0.5px, transparent 0.5px), linear-gradient(to right, #00000010 0.5px, white 0.5px);
      }
    </style>
  </head>
  <body>
    <Navbar />
    <div class="w-full flex flex-col items-center">
      <div class="mt-12 sm:mt-18 flex flex-col w-[90%]">
        <a href="/" class="font-light text-gray-600 hover:underline">&larr; Back to homepage</a>
        <h1 class="mt-12 sm:mt-18 text-3xl font-bold sm:text-4xl">Pricing</h1>
        <PricingGrid />
      </div>
    </div>
    <Footer />
    <InstantPage />
  </body>
</html>
