---
import SEO from '@/components/Shared/SEO.astro'
import Footer from '@/components/Home/Footer.astro'
import Navbar from '@/components/Shared/Navbar.astro'
import InstantPage from '@/components/Shared/Instant.astro'

const seo = {
  url: 'https://itsmy.fyi/terms',
  icon: 'https://ik.imagekit.io/vjeqenuhn/itsmy.fyi/logo.png',
  title: 'Terms - itsmy.fyi - Take control of your online presence',
  image: 'https://ik.imagekit.io/vjeqenuhn/itsmy.fyi/social-media-card.png',
  description: 'Terms - Take control of your online presence with itsmy.fyi - the true open-source alternative to Linktree',
}
---

<html lang="en">
  <head>
    <SEO {...seo} />
    <style is:raw>
      body {
        background-size: 100px 100px;
        background-image: linear-gradient(#00000010 0.5px, transparent 0.5px), linear-gradient(to right, #00000010 0.5px, white 0.5px);
      }
    </style>
  </head>
  <body>
    <Navbar />
    <div class="w-full flex flex-col items-center">
      <div class="mt-12 sm:mt-18 flex flex-col w-[90%]">
        <a href="/" class="font-light text-gray-600 hover:underline">&larr; Back to homepage</a>
        <h1 class="mt-12 sm:mt-18 text-3xl font-bold sm:text-4xl">Terms</h1>
        <p class="mt-3">
          Subject to these Terms of Service (this "Agreement"), <a href="/">itsmy.fyi</a> ("Rishi Raj Jain", "we", "us" and/or "our") provides access to itsmy.fyi's cloud platform as
          a service (collectively, the "Services"). By using or accessing the Services, you acknowledge that you have read, understand, and agree to be bound by this Agreement.
        </p>
        <p class="mt-3">
          If you are entering into this Agreement on behalf of a company, business or other legal entity, you represent that you have the authority to bind such entity to this
          Agreement, in which case the term "you" shall refer to such entity. If you do not have such authority, or if you do not agree with this Agreement, you must not accept
          this Agreement and may not use the Services.
        </p>
        <h3 class="mt-8 font-semibold">1. Acceptance of Terms</h3>
        <p class="mt-3">
          By signing up and using the services provided by itsmy.fyi (referred to as the "Service"), you are agreeing to be bound by the following terms and conditions ("Terms of
          Service"). The Service is owned and operated by Rishi Raj Jain ("Us", "We", or "Our").
        </p>
        <h3 class="mt-8 font-semibold">2. Description of Service</h3>
        <p class="mt-3">
          itsmy.fyi provides an open-source link management tool for modern marketing teams to create, share, and track short links ("the Product"). The Product is accessible at
          itsmy.fyi and other domains and subdomains controlled by Us (collectively, "the Website").
        </p>
        <h3 class="mt-8 font-semibold">3. Fair Use</h3>
        <p class="mt-3">
          You are responsible for your use of the Service and for any content that you post or transmit through the Service. You may not use the Service for any purpose that is
          illegal or infringes upon the rights of others.
        </p>
        <p class="mt-3">
          We reserve the right to suspend or terminate your access to the Service if we determine, in our sole discretion, that you have violated these Terms of Service, including
          but not limited to, adding phishing links, spam links, scam links, or other inappropriate or illegal content.
        </p>
        <h3 class="mt-8 font-semibold">4. Intellectual Property Rights</h3>
        <p class="mt-3">
          You acknowledge and agree that the Service and its entire contents, features, and functionality, including but not limited to all information, software, code, text,
          displays, graphics, photographs, video, audio, design, presentation, selection, and arrangement, are owned by Us, our licensors, or other providers of such material and
          are protected by United States and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
        </p>
        <h3 class="mt-8 font-semibold">5. Shortlink Ownership</h3>
        <p class="mt-3">
          If you're using a default itsmy.fyi link, we reserve the right to reclaim the shortlink if needed, particularly if it is necessary for brand compliance, to prevent
          confusion among users, or to maintain the integrity and reputation of our Service.
        </p>
        <h3 class="mt-8 font-semibold">6. Changes to these Terms</h3>
        <p class="mt-3">
          We reserve the right to revise and update these Terms of Service from time to time in our sole discretion. All changes are effective immediately when we post them, and
          apply to all access to and use of the Website thereafter. Your continued use of the Website following the posting of revised Terms of Service means that you accept and
          agree to the changes.
        </p>
        <h3 class="mt-8 font-semibold">7. Contact Information</h3>
        <p class="mt-3">
          Questions or comments about the Website or these Terms of Service may be directed to our support team at <a href="mailto:rishi18304@iiitd.ac.in">rishi18304@iiitd.ac.in</a
          >.
        </p>
        <h3 class="mt-8 font-semibold">8. Disclaimer of Warranties</h3>
        <p class="mt-3">
          THE SERVICE AND ITS CONTENT ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. WE DISCLAIM ALL WARRANTIES, INCLUDING, BUT NOT LIMITED
          TO, THE WARRANTY OF TITLE, MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES’ RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE.
        </p>
        <h3 class="mt-8 font-semibold">9. Limitation of Liability</h3>
        <p class="mt-3">
          IN NO EVENT WILL WE, OUR AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS, OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL
          THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE WEBSITE, THE SERVICE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE OR SUCH OTHER
          WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES.
        </p>
        <h3 class="mt-8 font-semibold">10. Governing Law and Jurisdiction</h3>
        <p class="mt-3">
          These Terms of Service and any dispute or claim arising out of or related to them, their subject matter or their formation (in each case, including non-contractual
          disputes or claims) shall be governed by and construed in accordance with the internal laws of the State of California without giving effect to any choice or conflict of
          law provision or rule. Any legal suit, action, or proceeding arising out of, or related to, these Terms of Service or the Website shall be instituted exclusively in the
          federal courts of the United States or the courts of the State of California.
        </p>
        <hr />
        <p class="mt-3">
          By using itsmy.fyi, you acknowledge that you have read these Terms of Service, understood them, and agree to be bound by them. If you do not agree to these Terms of
          Service, you are not authorized to use the Service. We reserve the right to change these Terms of Service at any time, so please review them frequently.
        </p>
        <p class="mt-3">Thank you for using itsmy.fyi!</p>
      </div>
    </div>
    <Footer />
    <InstantPage />
  </body>
</html>
