---

---

<footer class="mt-8 border-t dark:border-white/25 flex flex-col items-center">
  <div class="py-8 xl:grid xl:grid-cols-5 xl:gap-8 w-[90%]">
    <div class="space-y-8 flex flex-col xl:col-span-2">
      <a class="h-12 w-12" href="/">
        <img loading="lazy" height="100px" width="100px" src="https://ik.imagekit.io/vjeqenuhn/itsmy.fyi/logo.png" alt="itsmy.fyi" />
      </a>
      <p class="max-w-xs text-sm text-gray-500">All for you to share. In one simple link.</p>
      <div class="flex items-center space-x-2">
        <a
          target="_blank"
          rel="noreferrer"
          href="https://twitter.com/rishi_raj_jain_"
          class="rounded-md p-2 transition-colors hover:bg-gray-100 active:bg-gray-200 dark:hover:bg-white/10 dark:active:bg-white/25"
        >
          <span class="sr-only">Twitter</span>
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            shape-rendering="geometricPrecision"
            viewBox="0 0 24 24"
            class="h-5 w-5 fill-blue-400 stroke-none"
            height="24"
            width="24"
            style="color:currentColor"
          >
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
            >
            </path>
          </svg>
        </a>
        <div class="h-8 border-l border-gray-200 dark:border-gray-800"></div>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://github.com/rishi-raj-jain/itsmy.fyi"
          class="rounded-md p-2 transition-colors hover:bg-gray-100 active:bg-gray-200 dark:hover:bg-white/10 dark:active:bg-white/25"
        >
          <span class="sr-only">Github</span>
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            shape-rendering="geometricPrecision"
            viewBox="0 0 24 24"
            class="h-5 w-5 fill-black stroke-none dark:stroke-gray-400"
            height="24"
            width="24"
            style="color:currentColor"
          >
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0020 4.77 5.07 5.07 0 0019.91 1S18.73.65 16 2.48a13.38 13.38 0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 005 4.77a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 009 18.13V22"
            >
            </path>
          </svg>
        </a>
        <div class="h-8 border-l border-gray-200 dark:border-gray-800"></div>
        <a
          target="_blank"
          rel="noreferrer"
          href="https://www.linkedin.com/in/rishi-raj-jain/"
          class="rounded-md p-2 transition-colors hover:bg-gray-100 active:bg-gray-200 dark:hover:bg-white/10 dark:active:bg-white/25"
        >
          <span class="sr-only">LinkedIn</span>
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            shape-rendering="geometricPrecision"
            viewBox="0 0 24 24"
            class="h-5 w-5 fill-blue-600 stroke-none"
            height="24"
            width="24"
            style="color:currentColor"
          >
            <path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"> </path>
            <circle cx="4" cy="4" r="2"> </circle>
          </svg>
        </a>
      </div>
      <span class="font-light text-xs text-gray-400">
        © {new Date().getFullYear()} itsmy.fyi
      </span>
    </div>
    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-3 xl:mt-0">
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold">Tools</h3>
          <div class="mt-4 flex flex-col space-y-4">
            <a class="text-sm text-gray-500 hover:text-gray-900 dark:hover:text-gray-300" href="/changelog">Changelog</a>
          </div>
        </div>
      </div>
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h3 class="text-sm font-semibold">Company</h3>
          <div class="mt-4 flex flex-col space-y-4">
            <a class="text-sm text-gray-500 hover:text-gray-900 dark:hover:text-gray-300" href="/#faq">FAQ</a>
          </div>
        </div>
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold">Legal</h3>
          <div class="mt-4 flex flex-col space-y-4">
            <a class="text-sm text-gray-500 hover:text-gray-900 dark:hover:text-gray-300" href="/privacy">Privacy</a>
            <a class="text-sm text-gray-500 hover:text-gray-900 dark:hover:text-gray-300" href="/terms">Terms</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
