---
import Tweet from './Tweet.astro'

let tweets = {}

try {
  tweets = await fetch('https://itsmy.fyi/home/tweets.json').then((res) => res.json())
} catch (e) {
  console.log(e.message || e.toString())
}
---

{
  tweets && tweets.hasOwnProperty('data') && tweets.data && tweets.data.length > 0 && (
    <div class="mt-24 flex w-full flex-col items-center sm:mt-36">
      <h2 class="font-display max-w-xs bg-gradient-to-r from-blue-600 via-blue-900 to-blue-600 bg-clip-text text-center text-4xl font-extrabold leading-tight text-transparent sm:max-w-max sm:text-5xl sm:leading-tight">
        Our growing wall of love ❤️
      </h2>
      <span class="mt-4 max-w-md text-center sm:max-w-max">
        These are the stories of some of our very early users about their experience of using itsmy.fyi
      </span>
      <div class="relative mt-8 w-[95%] columns-1 gap-4 sm:columns-2 md:columns-3">
        {tweets['data'].map((tweet) => (
          <Tweet tweets={tweets} {...tweet} />
        ))}
      </div>
    </div>
  )
}
