---
import probe from 'probe-image-size'
import { getImage } from '@astrojs/image'
import SEO from '@/components/Shared/SEO.astro'
import { getBase64ImageUrl } from '@/lib/Image/Blur.js'

const { content, background = {} } = Astro.props

let bgSrc = null,
  bgBlurUrl = {}
try {
  if (background.hasOwnProperty('image')) {
    const { type, width, height } = await probe(background.image)
    const { src } = await getImage({ src: background.image, alt: 'Background Image', width, height, format: type })
    if (src) {
      bgSrc = src
    }
    bgBlurUrl = await getBase64ImageUrl(background.image)
  }
} catch (e) {
  console.log(e.message || e.toString())
}
---

<html lang="en">
  <head>
    <SEO {...content} />
    {bgSrc && <link rel="preload" href={bgSrc} />}
    <style>
      .default-body {
        background-color: rgb(253, 164, 175);
        background-image: radial-gradient(at 31% 6%, rgb(244, 63, 94) 0, transparent 78%),
          radial-gradient(at 52% 52%, rgb(255, 228, 230) 0, transparent 98%), radial-gradient(at 41% 2%, rgb(209, 213, 219) 0, transparent 3%),
          radial-gradient(at 64% 58%, rgb(113, 63, 18) 0, transparent 82%), radial-gradient(at 71% 24%, rgb(12, 74, 110) 0, transparent 24%),
          radial-gradient(at 77% 53%, rgb(147, 51, 234) 0, transparent 71%);
      }
      @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 100 900;
        font-display: optional;
        src: url(/fonts/rsms-inter-var.woff2) format('woff2');
      }
    </style>
  </head>
  <body
    style={background.hasOwnProperty('color') ? `background: ${background.color}` : ''}
    class={`relative flex min-h-screen w-screen flex-col items-center overflow-x-hidden font-display ${
      background.hasOwnProperty('color') || background.hasOwnProperty('image') ? '' : 'default-body'
    }`}
  >
    {
      bgSrc && (
        <img
          src={bgSrc}
          loading="eager"
          decoding="async"
          alt="Background Image"
          class="fixed top-0 left-0 z-[-2] h-screen w-screen transform-gpu"
          style={
            bgBlurUrl.hasOwnProperty('data')
              ? `background-image: url(${bgBlurUrl.data}); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;`
              : ''
          }
        />
      )
    }
    <slot />
  </body>
</html>
